
body{
    background-color: lightsteelblue;
}

body h6{
    font-size: large;
    color: rgb(26, 152, 211);
    margin-bottom: 0px;
}

body p{
    margin-top: 0px;
}

#wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.about-section{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-section h6{
    font-size: larger;
}

.about-sub-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.about-sub-section img{
    width: 400px;
    height: 400px;
    border-radius: calc(30%);
    padding: 20px;
}

.about-sub-section p{
    width: 300px;
}