
body{
    background-color: lightsteelblue;
}

body h6{
    font-size: large;
    color: rgb(26, 152, 211);
    margin-bottom: 0px;
}

body p{
    margin-top: 0px;
}

#wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.about-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-section h6{
    font-size: larger;
}

.about-sub-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (orientation:portrait){
    .about-sub-section img{
        width: 100%;
        border-radius: calc(30%);
        padding: 0px 20px 0px 20px;
    }
    
    .about-sub-section p{
        width: 100%;
        padding: 0px 20px 0px 20px;
    }
}

@media screen and (orientation:landscape){
    .about-sub-section img{
        width: 400px;
        border-radius: calc(30%);
        padding: 20px;
    }
    
    .about-sub-section p{
        width: 300px;
    }
}

h1{
    color: rgb(26, 152, 211);
}
