
html{
    background-color: lightsteelblue;
}

button{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(26, 152, 211);
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.5;
}


/* Here is the style for the menu at the top*/

#menus{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.menu-item{
    background-color: transparent;
    padding-left: 10px;
    padding-right: 0px;
    font-family: Ariel;
    font-size: 14px;
    color: rgb(0, 106, 155);
}


/* Here is the style for the main page content*/
#main-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


#main-content-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#main-content-button{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 10px;
}

.text{
    text-align: start;
    width: 300px;
    margin-top: 8px;
    margin-bottom: 0px;
    color: black;
}


/* Here is the style for the contact info */
.contact-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#footer-main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#sign-by-author{
    text-align: center;
    font-family: Cantarell;
    font-weight: bold;
    font-size: 18px;
    color: rgb(0, 106, 155);
}

.contact-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 8px;
    align-items: center;
}

.contact-item:hover{
    opacity: 0.8;
}
.contact-item:active{
    opacity: 0.5;
}

.contact-item-button{
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
    background-color: transparent;
}

