
html{
    background-color: lightsteelblue;
}

body{
    margin: 0px;
}

button{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(26, 152, 211);
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.5;
}

#option-div{
    background-color: rgb(109, 140, 180);
    margin-top: 48px;
    border-bottom-left-radius: 10px;
    padding: 4px;
    margin-right: 0px;
}
#option-div a{
    outline-style: none;
}

.option{
    padding-left: 10px;
    padding-right: 46px;
    padding-top: 5px;
    font-size: medium;
    border-top: solid;
    border-width: 1px;
}
.option:hover{
    cursor: pointer;
}

#menu-icon{
    margin-right: 30px;
}



#container{
    position: relative;
    margin-top: 48px;
}

#cancel{
    color: white;
    font-size: larger;
    text-align: end;
    font-family: monospace;
    padding-right: 16px;
    border: none;
}

#menu-bar{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 100%;
    max-width: 100%;
    top: calc(0px);
    z-index: 2;
    min-height: 48px;
    max-height: 48px;
    position: fixed;
    background-color: rgb(109, 140, 180);
    margin-left: 0px;
}

/* Here is the style for the menu at the top*/

@media screen and (orientation: portrait) {
    #potrait-menus{
        display: block;
        margin-right: 0px;
        padding-right: 0px;
    }
    #menus{
        display: none;
    }

}

@media  screen and (orientation: landscape) {
    
    #menus{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    #potrait-menus{
        display: none;
    }
}


.menu-item{
    background-color: transparent;
    padding-left: 10px;
    padding-right: 0px;
    font-family: Ariel;
    font-size: 14px;
    color: rgb(0, 106, 155);
}


/* Here is the style for the main page content*/
#main-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


#main-content-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#main-content-button{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 10px;
}

.text{
    text-align: start;
    width: 300px;
    margin-top: 8px;
    margin-bottom: 0px;
    color: black;
}


/* Here is the style for the contact info */
.contact-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


footer{
    max-height: 100vh;
}

#footer-main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#sign-by-author{
    text-align: center;
    font-family: Cantarell;
    font-weight: bold;
    font-size: 18px;
    color: rgb(0, 106, 155);
}

.contact-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 8px;
    align-items: center;
}

.contact-item:hover{
    opacity: 0.8;
}
.contact-item:active{
    opacity: 0.5;
}

.contact-item-button{
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
    background-color: transparent;
}

