
body{
    background-color: lightsteelblue;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#my-services-division{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#my-services{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

@media screen and (orientation: portrait)
{
    .service{
        width: 400px;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .service p{
        margin: 10px;
        padding: 6px;
    }

    .project{
        width: 400px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 10px;
    }
    .project p{
        margin: 10px;
        padding: 6px;
    }

}

@media screen and (orientation: landscape)
{
    .service{
        width: 240px;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project{
        width: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 10px;
    }
}


.service img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.project img{
    border-radius: 10%;
}


#my-projects-division{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#my-projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
}
h1{
    color: rgb(26, 152, 211);
}

.title{
    color: rgb(26, 152, 211);
    font-size: larger;
}
